<!DOCTYPE html>

<html ng-app xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Spito Share v1.0</title>
    <link rel="stylesheet" href="style.css">

    <script src="packages/web_components/webcomponents.min.js"></script>
    <script src="packages/web_components/dart_support.js"></script>

    <link rel="import" href="js_libs/bower_components/paper-input/paper-input.html">
    <link rel="import" href="js_libs/bower_components/paper-input/paper-input-decorator.html">

    <link rel="import" href="js_libs/bower_components/paper-button/paper-button.html">
    <link rel="import" href="js_libs/bower_components/paper-menu-button/paper-menu-button.html">
    <link rel="import" href="js_libs/bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="js_libs/bower_components/core-icon/core-icon.html">
    <link rel="import" href="js_libs/bower_components/core-icons/core-icons.html">
    <link rel="import" href="js_libs/bower_components/core-icons/social-icons.html">

    <link rel="import" href="js_libs/bower_components/paper-dropdown/paper-dropdown.html">
    <link rel="import" href="js_libs/bower_components/paper-item/paper-item.html">
    <link rel="import" href="js_libs/bower_components/core-menu/core-menu.html">

    <link rel="import" href="js_libs/bower_components/paper-tabs/paper-tabs.html">
    <link rel="import" href="js_libs/bower_components/paper-tabs/paper-tab.html">

    <link rel="import" href="js_libs/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="js_libs/bower_components/core-menu/core-menu.html">
    <link rel="import" href="js_libs/bower_components/core-item/core-item.html">
    <link rel="import" href="js_libs/bower_components/core-drawer-panel/core-drawer-panel.html">
    <link rel="import" href="js_libs/bower_components/core-header-panel/core-header-panel.html">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

    <!-- The noUiSlider script and stylesheet -->
    <!-- Use the files with *.min.* for the minified versions. -->
    <!--<link href="js_libs/noUiSlider.7.0.9/jquery.nouislider.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/ui-lightness/jquery-ui.css">-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!-- Use the 'all' version to get all documented features. -->
    <!-- Includes wNumb, libLink and the pips add-on -->
    <!--<script src="js_libs/noUiSlider.7.0.9/jquery.nouislider.all.min.js" type="text/javascript"></script>-->

  </head>
  <body>

    <div id="spitoshare-app">

      <div id="outer-container">
        <core-drawer-panel id="drawerPanel" forceNarrow>
          <core-header-panel id="site-drawer" drawer>
            <core-toolbar id="site-drawer-header">
              <span>Menu</span>
            </core-toolbar>
            <core-menu id="site-drawer-menu" selected="0">
              <core-item label="Home"></core-item>
              <core-item label="Usage Hints"></core-item>
              <core-item label="FAQ"></core-item>
              <core-item label="About"></core-item>
            </core-menu>

            <div id="site-bottom-copyright">
              <hr/>
              <p>&copy; 2015 - Lambros Petrou</p>
            </div>
          </core-header-panel>

          <core-header-panel main>
            <core-toolbar id="site-header">
              <!--<paper-icon-button id="navicon" icon="menu" on-tap="{{toggleDrawer}}></paper-icon-button>-->
              <paper-icon-button id="navicon" icon="menu" core-drawer-toggle></paper-icon-button>
                      <span id="site-header-title">
                          <span id="site-header-logo"><!--<paper-icon-button icon="polymer"></paper-icon-button>-->
                              <span><img src="imgs/spito-share.png"></span>
                          </span>
                          Spito Share <sup><em>BETA</em></sup>
                      </span>

              <span flex></span>

              <paper-icon-button id="btnNewSpit" icon="create" title="Create new spit"></paper-icon-button>
              <paper-icon-button id="btnFindSpit" icon="search" title="Search for a spit"></paper-icon-button>
            </core-toolbar>

            <div id="outer-content-header">
              <div id="content-header">
                <paper-tabs selected="0">
                  <paper-tab id="tab-url">URL Redirect</paper-tab>
                  <paper-tab id="tab-src">Text / Source Code</paper-tab>
                </paper-tabs>
              </div>
            </div>

            <div id="outer-content">
              <div id="content-container" class="content">

                <div id="editor-tools" class="group-clearfix">
                  <div id="editor-tools-buttons">
                    <ul>
                      <li>
                        <paper-button raised ng-click="toggle()">
                          create
                        </paper-button>
                      </li>
                      <li>
                        <paper-button raised ng-click="toggle()">
                          clear
                        </paper-button>
                      </li>
                      <li>
                        <paper-button raised ng-click="toggle()" disabled>
                          share
                        </paper-button>
                      </li>
                    </ul>
                  </div>
                </div>

                <div id="editor">
                  <textarea id="editor-text" class="editor-input-text" name="editor-text" spellcheck="true" autofocus></textarea>
                </div>

                  <div id="editor-tools-bottom">
                      <ul>
                          <li>
                              <div id="editor-exp">
                                  <div id="editor-exp-slider" class="editor-exp-slider"></div>
                                  <div id="editor-exp-val">
                                      <span id="editor-exp-val-text"></span>
                                      <span id="editor-exp-val-value"></span>
                                      <select id="editor-exp-val-unit">
                                          <option value="m">minutes</option>
                                          <option value="h">hours</option>
                                          <option value="d">days</option>
                                          <option value="M">months</option>
                                      </select>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>

              </div>
            </div>

          </core-header-panel>
        </core-drawer-panel>
      </div>

    </div>

    <script type="application/dart" src="spitoshare_main.dart"></script>
  </body>
</html>
