/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700&subset=latin);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin);*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin);

/* BOX-SIZING RESET RULES WITH INHERIT */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/***************************************/

body {
  background-color: #ffffff;/*#F8F8F8;*/
  font-family: 'Open Sans', 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}

.group-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.disabled-element {
    display: none;
}

.io-orange {
  color: #e09e04;
}

.io-red {
  color: #d94532;
}

.io-blue {
  color: #1569e8;
}

.io-green {
  color: #a5c449;
}

.io-grey {
  color: #999999;
}

.mat-blue-light {
  color: #4487f2;
}

.mat-blue-dark {
  color: #3e52b3;
}

.mat-green {
  color: #109c56;
}

.mat-yellow {
  color: #ffe83d;
}

.mat-orange {
  color: #ff5724;
}

.mat-purple {
  color: #9c28b0;
}

.lp-red {
  color: #920000;
}

#spitoshare-app {
  padding: 0;
  margin: 0;
}

#outer-container {
  padding: 0;
  margin: 0;
}

#site-drawer {
  background-color: #ffffff;
}

#site-drawer-header {
  background-color: #f0f0f0;
  height: 68px;
  box-shadow: 0px 5px 5px 0px #BEBCCD;
  -webkit-box-shadow: 0px 5px 5px 0px #BEBCCD;
  -moz-box-shadow: 0px 5px 5px 0px #BEBCCD;
}

#site-drawer-menu {
  height: auto;
}

#site-bottom-copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #666666;
}

#outer-site-header {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0;
  box-shadow: 0px 5px 5px 0px #BEBCCD;
  -webkit-box-shadow: 0px 5px 5px 0px #BEBCCD;
  -moz-box-shadow: 0px 5px 5px 0px #BEBCCD;
}

#site-header {
  width: 100%;
  /*background-color: #f0f0f0;*/
}

#site-header a {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

#site-header paper-icon-button {
  margin: 0px;
}

#site-header-title {
  float: left;
  font-size: 18px;
  font-weight: bolder;
  vertical-align: middle;
}

#site-header-drawer {
  display: inline-block;
  vertical-align: middle;
}

#site-header-title-text {
  display: inline-block;
  vertical-align: middle;
}

#site-header-title sup {
  font-size: 8px;
}

#site-header-logo {
  text-align: center;
  vertical-align: middle;
}
#site-header-logo img {
  width: 48px;
  /*position: absolute;
  left: calc(50% - 24px);
  top: 8px;*/
  vertical-align: middle;
}

#site-header-tools {
  float: right;
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

#site-header-tools:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

#site-header-tools-btn {
  display: inline-block;
  vertical-align: middle;
}

#outer-content-header {
  padding: 0;
  margin: 0;
}

#content-header {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.outer-content {
    padding: 20px 0 20px 0;
}

.content-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 14px;
}

.content {
    width: 100%;
    display: none;
}

.content-selected {
  display: block;
}

#new-spit-form {
    width: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#new-spit-form button {
    display: inline-block;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

#new-spit-errors {
    width: 100%;
    margin: 10px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #920000;
    font-style: italic;
    font-weight: bold;
}

#editor-tools {
  position: relative;
  width: 100%;
}

  #editor-tools-buttons {
      float: left;
      margin: 5px 0;
  }
  #editor-tools-buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #editor-tools-buttons ul li {
    display: inline-block;
    margin-bottom: 5px;
  }
  #input-mode-tools {
      float: right;
      margin: 5px 0;
  }

#spito-editor {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

#editor {
  position: relative;
  margin: 10px 0 20px 0;
}

#editor-tools-bottom {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
#editor-tools-bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#editor-tools-bottom ul li {
    display: block;
    margin: 0;
    padding: 0;
}

  #editor-exp {
      position: relative;
      width: 95%;
      display: block;
      margin: 0 auto;
      text-align: center;
  }

    #editor-exp-slider {
      /*height: 200px;*/
        margin: 10px auto;
        width: 90%;
      display: block;
      font-size: 100%;
    }

    #editor-exp-slider, .ui-slider {
        height: 0.8em !important;
        border-radius: 2px !important;
        border: 1px dotted #bfbfbf;
        background: #fafafa !important;
    }
        /*#editor-exp-slider .ui-state-default {*/
        #editor-exp-slider .ui-slider-handle {
            outline: none;
            border: 1px solid #eeeeee;
            border-radius: 0;
            background: #920000;
            z-index: 0;
            -ms-touch-action: none;
            touch-action: none;
        }
            /*#editor-exp-slider .ui-state-default:hover {*/
            #editor-exp-slider .ui-slider-handle:hover {
                cursor: default !important;
                border: solid 1px #f0f0f0;
                -moz-box-shadow: 0px 0px 3px 1px #bfbfbf;
                -webkit-box-shadow: 0px 0px 3px 1px #bfbfbf;
                box-shadow: 0px 0px 3px 1px #bfbfbf;
            }
            #editor-exp-slider .ui-slider-handle.ui-state-active {
                border: solid 1px #f0f0f0;
                -moz-box-shadow: 0px 0px 3px 1px #bfbfbf;
                -webkit-box-shadow: 0px 0px 3px 1px #bfbfbf;
                box-shadow: 0px 0px 3px 1px #bfbfbf;
            }

    #editor-exp-val {
      display: block;
        min-width: 200px;
        /*line-height: 1;*/

    }
      #editor-exp-val-text {
          display: inline-block;
          font-weight: bold;
          text-align: center;
          vertical-align: middle;
      }
      #editor-exp-val-value {
          display: none;
          box-sizing: border-box;
          text-align: center;
          font-weight: bolder;
          color: #920000;
          vertical-align: middle;
      }
      #editor-exp-val-unit {
          display: none;
      }
        #editor-exp-val-value.editor-exp-val-visible,
        #editor-exp-val-unit.editor-exp-val-visible {
            display: inline-block;
        }

        #editor-exp-val-unit paper-radio-group paper-radio-button {
            padding: 5px;
        }
        #editor-exp-val-unit paper-radio-group paper-radio-button::shadow #ink {
            width: 32px;
            height: 32px;
            top: -8px;
            left: -8px;
        }
        #editor-exp-val-unit paper-radio-group paper-radio-button::shadow #ink[checked] {
            color: #920000;
        }
        #editor-exp-val-unit paper-radio-group paper-radio-button::shadow #onRadio {
            background-color: #920000;
        }
        #editor-exp-val-unit paper-radio-group paper-radio-button[checked]::shadow #offRadio {
            border-color: #920000;
        }
        #editor-exp-val-unit paper-radio-group paper-radio-button::shadow #radioLabel {
            margin-left: 2px;
        }

  #editor-text {
    width: 100%;
    max-width: 100%;
    min-height: 300px;
  }

.editor-input-text {
    width: 100%;
    font-family: 'Open Sans', 'Lato', monospace;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.08em;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  border: solid 1px #ffffff;
  -moz-box-shadow: 0px 0px 5px 1px #bfbfbf;
  -webkit-box-shadow: 0px 0px 5px 1px #bfbfbf;
  box-shadow: 0px 0px 5px 1px #bfbfbf;
  background-color: #fdfdfd;
}
.editor-input-text:focus, .editor-input-text:active{
  border: solid 1px #f0f0f0;
  -moz-box-shadow: 0px 0px 5px 1px #9f9f9f;
  -webkit-box-shadow: 0px 0px 5px 1px #9f9f9f;
  box-shadow: 0px 0px 5px 1px #9f9f9f;
}


@media (max-width: 650px) {
    #site-header-logo img {
        position: relative;
        width: 48px;
        left: auto;
        top: auto;
        vertical-align: middle;
    }

    #editor-tools-buttons {
        float: none;
        text-align: center;
    }

    #input-mode-tools {
        float: none;
        text-align: center;
    }
}
